:root {
    --accent-color: #0844a4;
    --main-color: #606060;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--accent-color);
    font-size: 3rem;
}

h2 {
    padding-top: 1em;
}

section {
    width: 100%;
    height: 100vh;
}

.overview-page {
    overflow: clip;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    top: 20px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    display: block;
    max-width: 120px;
    width: 120px;
}

nav div {
    position: relative;
    max-height: 1rem;
    padding: 0 1rem;
    margin: 2rem 0 0.5rem;
    box-sizing: border-box;
}

nav div:not(:last-child) {
    border-right: 2px solid lightgrey;
}

nav a:hover {
    display: inline-block;
    width: 120px;
    font-size: 120%;
    color: yellow;
    background-color: pink;
    text-align: center;
}

.greeting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting::after {
    content: "";
    background-image: url(./src/images/main.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.greeting div {
    padding: 3% 6%;
    border: 5px solid var(--accent-color);
}

.greeting div a {
    display: inline-block;
    padding: 2rem 1rem;
    width: 200px;
    font-size: 2rem;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: blue;
    color: white;
    text-decoration: underline;
}

#about {
    color: var(--main-color);
    font-weight: lighter;
}

#about img {
    width: 15%;
    float: left;
    margin: 0 5%;
}

.personal-title {
    position: relative;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
}

.personal-title::before {
    content: "";
    content: '';
    background: url('./src/icons/circle-check-regular.svg');
    background-size: cover;
    position: absolute;
    top: -60%;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -60px;
}

.personals {
    margin: 15vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about>p {
    padding: 4em 5% 0 0;
}

.personal {
    text-align: start;
}

.personal:first-child {
    margin-left: 1%;
}

.personal:not(:last-child) {
    margin-right: 5%;
}

.experience-sections {
    margin: 15% 5% 0;
    display: flex;
    align-items: center;
    margin-top: 15%;
    column-gap: 10%;
}

.experience-item {
    box-sizing: border-box;
    padding: 1em 0.5rem;
    color: var(--main-color);
    font-weight: normal;
    border: 1px solid lightgrey;
    height: 100%;
}

.experience-item hr {
    margin-top: 20%;
    width: 60%;
}

.experience-diagram {
    border: 1px solid black;
    position: relative;
    height: 300px;
    border-radius: 100%;
    background: conic-gradient(red 0deg 80deg, black 80deg 81deg, yellow 80deg 180deg, black 180deg 181deg, blue 180deg 260deg, black 260deg 261deg, purple 200deg 359deg, black 359deg 360deg);
}

.white-circle {
    border: 1px solid black;
    background-color: white;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}

.skills-def {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 1.5rem;
    border-radius: 40%;
    border: 3px solid black;
    margin: 2rem 1rem 0;
    width: 5%;
    height: 40px;
    text-justify: center;
}

.css {
    background-color: yellow
}

.html {
    background-color: blue;
}

.cSharp {
    background-color: purple;
}

.js {
    background-color: red;
}

#getInTouch>p {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.getInTouch textarea {
    box-sizing: border-box;
    width: 90%;
    border: 3px solid var(--accent-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.getInTouch input {
    margin: 2% 13% 6% 0;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    height: 4rem;
    width: 21%;
    text-align: center;
    color: var(--main-color);
    font-size: 1.5rem;
}

.getInTouch input:last-child {
    margin-right: 0;
    background-color: var(--accent-color);
    border-color: var(--main-color);
    color: white;
}

.getInTouch input:last-child:hover {
    color: yellow;
    background-color: blue;
}

.networks {
    display: flex;
    justify-content: center;
}

.networks a {
    text-decoration: none;
    margin: 1% 5%;
    color: var(--accent-color);
}

a[href*="linkedin"] {
    background: transparent url(./src/icons/linkedin-brands.svg) no-repeat top right;
    padding: 18px;
}

a[href*="facebook"] {
    background: transparent url(./src/icons/facebook-square-brands.svg) no-repeat top right;
    padding: 18px;
}

a[href*="instagram"] {
    background: transparent url(./src/icons/instagram-brands.svg) no-repeat top right;
    padding: 18px;
}

.nav-bottom {
    margin: 0 0 2% 0;
    justify-content: center;
}

.last-hr {
    width: 50%;
}

footer:last-child {
    color: var(--main-color);
    font-size: 1rem;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        height: auto;
        width: auto;
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        height: auto;
        width: auto;
        opacity: 0;
    }
}

.animation {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 20px 20px;
}

.big-square {
    height: 20px;
    width: 20px;
}

.big-square-1 {
    background-color: pink;
    animation: bigright 4s ease-in-out infinite;
}

.big-square-2 {
    background-color: blue;
    animation: bigleft 4s ease-in-out infinite;
}

.big-square-3 {
    background-color: red;
    animation: bigtopdown 4s ease-in-out infinite;
}

.big-square-4 {
    background-color: green;
    animation: bigtop 4s ease-in-out infinite;
}

.big-square {
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 10px 10px;
}

.big-square div:nth-child(1) {
    background-color: aquamarine;
    animation: bigright 4s ease-in-out infinite;
}

.big-square div:nth-child(2) {
    background-color: bisque;
    animation: bigleft 4s ease-in-out infinite;
}

.big-square div:nth-child(3) {
    background-color: blueviolet;
    animation: bigtopdown 4s ease-in-out infinite;
}

.big-square div:nth-child(4) {
    background-color: chartreuse;
    animation: bigtop 4s ease-in-out infinite;
}

@keyframes bigleft {
    20% {
        transform: translateX(100%);
        border-radius: 100%;
    }
    40% {
        transform: translateY(-100%);
        border-radius: 0;
    }
    60% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateY(-100%);
    }
    100% {
        border-radius: 100%;
    }
}

@keyframes bigright {
    20% {
        transform: translateX(-100%);
        border-radius: 100%;
    }
    40% {
        transform: translateY(100%);
        border-radius: 0;
    }
    60% {
        transform: translateX(100%);
    }
    80% {
        transform: translateY(-100%);
    }
    100% {
        border-radius: 100%;
    }
}

@keyframes bigtop {
    20% {
        transform: translateX(100%);
        border-radius: 100%;
    }
    40% {
        transform: translateY(100%);
        border-radius: 0;
    }
    60% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateY(100%);
    }
    100% {
        border-radius: 100%;
    }
}

@keyframes bigtopdown {
    20% {
        transform: translateX(-100%);
        border-radius: 100%;
    }
    40% {
        transform: translateY(-100%);
        border-radius: 0;
    }
    60% {
        transform: translateX(-100%);
        border-radius: 0;
    }
    80% {
        transform: translateY(100%);
    }
    100% {
        border-radius: 100%;
    }
}